.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    margin: 5px 30px 5px 30px;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin: 5px 10px 5px 10px;
}

img {
    height: 150px;
    margin: 20px 0px 0px 0px;
    border: 2px black solid;
}

p {
    padding: 60px 0px 60px 0px;
}