.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
}

body, a {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin: 5px 10px 5px 10px;
}

img {
    height: 120px;
    border: 2px black solid;
}

.appended {
    height: 120px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}